{% import '_includes/utils' as utils %}

{% cache %}
    {% set banners = entry.relatedBanners %}

    {% if banners|length > 0 %}

        {% set firstImage = banners.one %}

        <div id="banner">
            {% for banner in banners.all() %}
                {% set image = craft.imager.transformImage(banner.bannerImage.one, { height: 500 }) %}
                <div class="banner-image-slide" style="background-image: url({{ image.url }});">
                    {% if banner.bannerRedirect %}
                        <a onclick="recordEvent('Banners', 'Click', '{{ banner.title }} ({{ banner.bannerRedirect.url }})');" href="{{ banner.bannerRedirect.url }}" title="This will take you to {{ entry.title }} ">
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endcache %}
