{% cache %}
    {% set parents = entry.ancestors %}

    {% if entry.section.type == 'channel' %}
        {% set getParents = craft.app.request.segments %}
    {% endif %}

    <ul id="breadcrumb">
        <li><a href="{{ siteUrl }}">Home</a></li>
        {% for parent in parents.all() %}
            <li><a href="{{ parent.url }}">{{ parent.title }}</a></li>
        {% endfor %}
        {% if getParents is defined %}
            {% set breadcrumbsCount = 0 %}
            {% for getParent in getParents.all() %}
                {% if loop.last == false %}
                    {% set section = entry.type.handle %}
                    {# Get the page from database using the slug and create the <li> #}
                    {% set parent = craft.entries.section('pages').slug(getParent).one() %}
                    <li><a href="{{ parent.getUrl }}">{{ parent.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        <li>{{ entry.title }}</li>
    </ul>
{% endcache %}
