{% extends '_layout' %}

{% block content %}
	<div class="container">
		<div class="row">

			<div class="{{ entry.showSidebar ? siteSettings.contentColumns : 'col-md-12' }}">

				{% include '_partials/breadcrumb' %}

				{% include '_partials/pagefields' %}

				{% cache %}
					<ul id="sitemap">
						{% nav page in craft.entries.section('pages').showInSitemap(true) %}
							<li class="{{ entry is defined and page.id == entry.id ? 'current' : (entry is defined and page.isParentOf(entry) ? 'parent-current') }}">
								<a href="{{ page.url }}"><i class="far fa-fw fa-angle-right"></i> {{ page.title }}</a>
								{% ifchildren %}
									<ul>
										{% children %}
									</ul>
								{% endifchildren %}
							</li>
						{% endnav %}
					</ul>
				{% endcache %}

				{% if entry.showChildrenListing %}
					<div class="children">
						{% include '_partials/children' with { entry: entry } %}
					</div>
				{% endif %}

			</div>

			{% if entry.showSidebar %}
				<aside class="{{ siteSettings.sidebarColumns }}">
					{% include '_partials/sidebar/sidebar' %}
				</aside>
			{% endif %}

		</div>
	</div>
{% endblock %}
