<!DOCTYPE html>
<html class="message">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="csrfTokenName" content="{{ craft.config.csrfTokenName|e }}" />
		<meta name="csrfTokenValue" content="{{ craft.request.csrfToken|e }}" />

		{% hook 'seomaticRender' %}

		{% block head %}{% endblock %}

		<meta name="apple-mobile-web-app-title" content="{{ siteName }}" />

		<link rel="icon" href="/favicon.ico" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

		{{ getHeadHtml() }}
	</head>

	<body>
		<div id="wrapper">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<main id="content">
							<div class="row">
								<div class="col-md-6">
									<a id="logo" href="{{ siteUrl }}" title="Home" onClick="recordEvent('Header', 'Click', 'Logo');">
										<img src="/skin/logo.png" alt="{{ siteName }} Logo" class="img-responsive" />
									</a>
								</div>
							</div>

							{% block content %}{% endblock %}
						</main>
					</div>
				</div>
			</div>
		</div>

		{{ getFootHtml() }}
	</body>
</html>
