{% if block.galleryType == 'grid' %}

    {% if block.gallery|length %}
    <div class="col-xs-12">
        <div class="gallery-grid">
            <div class="row">
            {% for image in block.gallery %}
                <div class="col-md-3">
                    <a href="{{ image.url }}" title="{{ image.title }}" rel="gallery-{{ block.id }}" data-effect="mfp-zoom-in">
                        <img src="{{ image.url }}">
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

{% elseif block.galleryType == 'slider' %}

    {% if block.gallery|length %}
    <div class="col-xs-12">
        <div class="gallery-slider row">
        {% for image in block.gallery %}
            <div>
                <a href="{{ image.url }}" title="{{ image.title }}" data-effect="mfp-zoom-in">
                    <img src="{{ image.url }}">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

{% elseif block.galleryType == 'sliderWithPreview' %}

    {% if block.gallery|length %}
        <div class="col-xs-12">
            <div class="gallery-slider-top">
                {% for image in block.gallery %}
                    <div>
                        <a href="{{ image.url }}" title="{{ image.title }}" data-effect="mfp-zoom-in">
                            <img src="{{ image.url }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="gallery-slider-bottom">
                {% for image in block.gallery %}
                    <div>
                        <a href="{{ image.url }}" title="{{ image.title }}">
                            <img src="{{ image.url }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% elseif block.galleryType == 'pinterest' %}

    {% if block.gallery|length %}
            <div class="gallery-pinterest" {{ craft.mobileDetect.isPhone ? 'data-gridify="1-columns"' : craft.mobileDetect.isTablet ? 'data-gridify="2-columns"' : 'data-gridify="3-columns"' }}>
                {% for image in block.gallery %}
                    <div class="pinterest-item" data-lightbox="gallery">
                        <a href="{{ image.url }}" title="{{ image.title }}" data-effect="mfp-zoom-in">
                            <img src="{{ image.url }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endif %}
